header, main {
   background-color: #ffffff;
   color: #361d2f;
}

header h1 {
   text-align:center;
   font-family: "sofia-pro",sans-serif;
   font-style: normal;
   font-weight: 600;
   color: #e37263;
   font-size: 34px;
   padding: 24px 0;
}

main {
  padding: 2em 12em;
  font-family: "bagatela",serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 1.02px;
  line-height: 1.8em;
}

main h2 {
 font-weight: bold;  
}

main p {
 line-height: 1.2em;
 padding-bottom: 1.2em;
}

footer {
   padding: 6em;
   color: rgba(255,255,255,.75);
   font-family: "bagatela",serif;
   font-style: normal;
   font-weight: lighter;
   font-size: 18px;
   letter-spacing: 1.02px;
   line-height: 1.8em;
}

footer h1 {
   font-family: "sofia-pro",sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   letter-spacing: 1.525px;
   text-transform: uppercase;
   color: #fff;
}

footer a {
   color: #fff;
}

body {
   background-color: #363636;
   color: #222;
   line-height: 1.8em;
}


 /* Tiny Letter Form */

form {
    font: 16px/20px'Helvetica', Arial, sans-serif;
    display: block;
    padding: 6px 0 10px 0;
}
form a, form a.visited {
  text-decoration: none;
  color: #4d874b; 
}

form p, form a, form a.visited {
  font-size: 10px;
  letter-spacing: 0em;
}


form  .email-group input {
    display: block;
    float: left;
    width: 60%;
    margin: 0 10px 0 0;
    min-width: 200px;
    padding: 12px 10px 11px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: none;
}

form .email-group .button {
    width: 30%;
    margin: 0;
    min-width: 75px;
}

form .error, form .errorText {
    margin: 5px 0 0 0;
    padding: 10px;
    font-size: 14px;
    color: #6b0505;
    background-color: #f4bfbf;
}

form .formstatus {
    margin-bottom: 10px;
}

form .success {
    background: #e4f3d4;
    font-size: 14px;
    color: #5ca000;
    margin: 10px 0;
    padding: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

form .success a {
    color: #5ca000;
    text-decoration: underline;
}

form .rounded {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
form .button, form .button-small {
    display: inline-block;
    white-space: nowrap;
    height: 40px;
    line-height: 42px;
    margin: 0 5px 0 0;
    padding: 0 22px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    cursor: pointer;
    border: 0;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
